@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  #build-AmazingThings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: rgba(232,217,217,.3);
  }

  .titlebuildthings {
    font-size: 3.9rem;
}

#build-AmazingThings p {
  width: 36%;
  margin: 30px auto;
  text-align: center;
  margin-top: 0.5px; 
  margin-bottom: 50px;
}

  .btn1 {
    background-color: FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    text-decoration: none;
    color: white;
    margin-right: 7rem;
    margin-left: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: center;
    background: red;
  }
  .btn2 {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  



  

