@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

#build-AmazingThings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: rgba(232, 217, 217, 0.3);
}

.titlebuildthings {
  font-size: 3.9rem;
}

#build-AmazingThings p {
  width: 36%;
  margin: 30px auto;
  text-align: center;
  margin-top: 0.5px;
  margin-bottom: 50px;
}

.btn1 {
  background-color: FB3B49;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
  text-decoration: none;
  color: white;
  margin-right: 7rem;
  margin-left: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: center;
  background: red;
}

.btn2 {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.npmLogo {
  width: 70px;
  margin-right: 20px;
  padding-left: 1rem;
  padding-top: 10px;
  padding-right: .25rem;
}

.magnifyingGlass {
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;  
}

.search-Bar {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}
.search-Bar form {
  background: #f2f2f2;
  padding-left: 15px;
  padding-right: 0;
  width: 71%;
  height: 36px;
}

.search-Bar input {
  background: none;
  border: none;
  padding-left: 10px;
  font-size: 16px;
  height: 30px;
}

.search-Bar button {
  background-color: red;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.joinButton {
  padding: 6px 15px;
  border: 1px solid #cccccc;
  text-decoration: none;
  color: #686261;
  margin-left: 50px;
  margin-right: 25px;
}

.logInButton {
  text-decoration: none;
  color: #686261;
}

#bring-TheBest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: white;
  margin-top: 40px;
}

#bring-TheBest h2 {
  background-color: rgba(255, 204, 53, 0.4);
  transform: skew(9deg, 0deg);
  font-style: italic;
  margin: auto;
  font-size: 2.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

#bring-TheBest p {
  width: 55%;
  margin: 30px auto;
  text-align: center;
  margin-top: 0.5px;
  margin-bottom: 100px;
  justify-content: center;
}

.triangleHexagon {
  width: 300px;
}

#createAnOrg h3 {
  color: #ed1c24;
}

#createAnOrg button {
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
  color: white;
  background-color: black;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 30rem;
  margin-bottom: 100px;
  margin-top: 50px;
}


#createAnOrg .parentdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#createAnOrg {
  margin-left: 1rem;
  margin-right: 1rem;
}

.subdivs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 10px;
  text-align: left;
  padding: 20px;
  padding-top: 0px;
}
.subdivs svg {
  width: 40px;
  height: 40px;
}

